* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

nav {
    
    flex: 1;
    text-align: right;
   
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 20px;
}



nav ul  {
    display: inline-block;
    list-style-type: none;

}
nav ul li  {
    display: inline-block;
    margin-right: 20px;
   
}
a {
    text-decoration: none;
    color: #555;
}

.container {
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1500px;
    
}
.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    flex-wrap: wrap;
}
.row-1 {
    flex-basis: 50%;
    min-width: 300px;
    

    

}
.row-1 img {
    max-width: 100%;
    padding: 50px 0;
}
p {
    color: #555;
}



.row-1 h1 {
    font-size: 45px;
    line-height: 60px;
    margin: 25px 50px;
}
.row-1 p {
    margin-left: 50px;
}
.btn {
    background:#ff523b;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-top: 25px;
    color: #fff;
    margin-left: 50px;
    transition: 0.5s;
    
}
.btn:hover {
    background:#fff;
    color: #ff523b;
    border: 1px solid #ff523b; ;
}

.row-1 a {
    text-decoration: none;
}

.header {
    background: radial-gradient(#fff, #8bddf2);

}

.head-product {
    margin: 70px 0;
}

.col-prod {
    margin-bottom: 30px;
    flex-basis: 30%;
    min-width: 250px;
}

.col-prod img {
    width: 100%;
}
.small-container {
    max-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    
}

.first-title {
    text-align: center;
    margin: 70px 0;
    color: #555;
    position: relative;
    line-height: 60px;
}

.col-4 {
    min-width: 200px;
    flex-basis: 25%;
    padding: 10px;
    margin-bottom: 0px;
    transition:  0.5s;
    
    
}
.col-4 img {
    width: 100%;
    margin-bottom: 10px;
}
.feature-product {
    max-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
   
}
.col-4 .fa {
    color: #ff523b;
}

.first-title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: 600;
}

.latest-prod {
    max-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
}

.col-5 {
    min-width: 200px;
    flex-basis: 25%;
    padding: 10px;
    margin-bottom: 70px;
}

.col-5 img {
    width: 100%;
    margin-bottom: 10px;
   
}
.col-5 .fa {
    color:#ff523b ;    
}
.col-4:hover {
    transform: translateY(-15px);
}

.exclusive {
    background: radial-gradient(#fff, #8bddf2);
   
    
}

.col-6 {
    min-width: 300px;
    flex-basis: 50%;
    padding: 20px 0;
    text-align: left;
}
.col-6 img {
    width: 100%;
    
}

.col-6 p {
    color: #555;
    margin-bottom: 30px;
    font-weight: 500px;
    line-height: 25px;
   
}
.col-6 h1 {
    font-size: 50px;
    font-weight:900;
    margin-bottom: 20px;
   
}
.col-6 a {
    text-decoration: none;
}

.btn2 {
    background:#ff523b;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 50px;
    margin-top: 10px;
    color: #fff;
    transition: 0.5s;
    
}
.btn2:hover {
    background:#fff;
    color: #ff523b;
    border: 1px solid #ff523b; ;
}


.col-6 .offer-img {
    padding: 50px;
}
.testimonial {
    padding-top: 100px;
    
}

.testimonial .col-4 {
   text-align: center;
   padding: 40px 20px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
   cursor: pointer;
   transition: 0.5s;
}

.testimonial .col-4:hover {
    transform: translateY(-10px);
}

.testimonial .col-4 img {
    width: 50px;
    border-radius: 50px;
    margin-top: 20px;
    
}

.fa.fa-quote-left {
    font-size: 34px;
}

.col-5 .logo-img {
    max-width: 200px;
    filter: grayscale(100%);
    transition: 0.5s;
    
}

.logo-img:hover {
    filter: none;
}
.logo .col-5 {
    flex-basis: 20%;
    cursor: pointer;
    margin: 100px auto;
}

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 20px 0 20px;
}

.footer p {
    color: #8a8a8a;
}
.footer h3 {
    color: #fff;
    margin-bottom: 20px ;
}

.footer-col-1 , .footer-col-2 , .footer-col-3 , .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;

}
.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}
.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer .container {
    margin-top: 0px;
}
.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width : 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

} 

@media only screen and (max-width : 600px) {
    .row {
        text-align: center;
    }

    .col-4, .col-5, .col-6 {
        flex-basis: 100%;
    }
    .testimonial .col-4 {
        margin-top: 20px;
     }
    

    
}


    

.row-7 {
    justify-content: space-between;
    margin-top: 100px auto 50px;
}

select {
    border:1px #ff523b solid;
    padding: 5px;
}
select:focus {
    outline: none;
}
.page-btn {
    margin: 0 auto 80px;
    padding: 10px;

}
.page-btn span {
    display: inline-block;
    text-align: center;
    border: 1px #ff523b solid;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
      
}

.page-btn span:hover {
    background:#ff523b ; 
    color: white;
}

.prod-details {
    display: flex;
    justify-content: space-around;
    
}

.row-9 {
    flex-basis: 47%;
}




.row-9 img {
    width: 100%;
    
    
}
.row-9 h1 {
    margin-bottom: 10px;
}

.row-9 h1 {
    font-size: 50px;
    line-height: 60px;
}

.row-9 h4 {
    color: #000;
    margin-bottom: 15px;
}

.quantity-prod {
    margin-bottom: 20px;
}




.quantity-prod input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px #ff523b solid;
}

input:focus {
    outline: none;
}

.quantity-prod .btn-card {
    border-radius: 30px;
    margin-left: 10px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

span img {
    max-width: 100px;
}
.row-9 .p1 {
    color: #8a8a8a;
    margin-top: 40px;
}
.prod-details .img-row {
    margin-left: 20px;
    margin-bottom: 30px;
}










